
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #24292e !important;
  background-color: #fff !important;
}

#app__header__logo {
  display: table;
  margin: 0 auto;
}

#app__header {
  /*height: 100px;*/
}

#app__header__option__span {
  float: right;
}

.app__list__filters__title {
  color: #444;
}

.selectize-dropdown, .selectize-input { 
  /*line-height: 14px; */
}

#app__search__container .selectize-dropdown-content {
  max-height: 550px; 
}

#app__list__container .selectize-dropdown-content {
}

.content__tag {
  /*font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;*/
  color: #39739d;
  background-color: #E1ECF4;
  border-color: transparent;
  position: relative;
  display: inline-block;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  transition: all .15s ease-in-out;
}

.btn-custom-white {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc !important;
}

.table tbody > tr > td.vert-aligned {
  vertical-align: middle !important;
}
